.part1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-block-end: 50px;
    padding-inline-end: 50px;
}

.part1 .header {
    display: flex;
    justify-content:space-around;
    gap: 330px;
}

.part1 .header .links {
    display: flex;
    gap: 25px;
    color: silver
}

.part1 .content {
    display: flex;
    justify-content:space-around;
}

.part1 .content .left {
    width: 300px;
}

#mega {
    font-size: 48px;
    color: #F9FAF8;
}

.part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part2 .content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.part2 .content .imgblock {
    display: flex;
    flex-direction: column;

}

.part3 {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #e5e7eb;
    color:#1F2937;
    font-style: italic;
    font-size: 36px;
}